@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0afa0;
}

#principal {
    color: #463f3a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
}

div 

.links:hover{
    background-color: #bcb8b1;
    border-radius: 4px;
    font-size: 1.3em; 
    width: 30px;
}

