@charset "UTF-8";

body {
    background-image: url('espaco.jpg');
    background-size: cover;
    background-attachment: scroll;
}

#movimento {
    background-image: url('astronauta.png');
    height: 98vh;
    background-repeat: no-repeat;
    display: inline-block;
    margin: auto;
    background-attachment: fixed;
}

#movimento > p {
    background-color: rgba(0, 0, 0, 0.308);
    width: 500px;
    text-align: center;
}